{% extends 'base.html' %}

{% block content %}
     <section>
        <div class="container">
            <div class="parking-div">
                <div id="up" class="up row my-4">
                    <hr>
                    <div class="col-1"></div>

                </div>
                <div class="line-holder row">
                    <hr class="line">
                </div>
                <div id="down" class="down row my-4">
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
